%footer{ class: %w(flex items-end w-full p-6 bg-gray-400 items-center) }
  %div{ class: %w(flex w-full) }
    %div{ class: %(flex w-full) }
      %div{ class: %w(flex justify-start w-1/12) }
        = link_to('Blog demo', :root)

      %div{ class: %w(flex justify-end w-11/12) }
        %ul
          %li
            %span All right reserved
