= provide(:title, site_title('Home'))

- if flash[:success]
  %p= flash[:success]
- if current_user
  - @posts.each do |post|
    %ul
      %li= post.title
      %li= post.content
- else
  %p Please login to visit our content
