<!DOCTYPE html>
<html>
  <%= render 'shared/header.html.erb' %>
  <body>
    <div class='flex flex-wrap items-stretch h-screen container mx-auto'>
      <%= render 'shared/navbar.html.haml' %>
      <div class='main-content flex flex-nowrap items-start w-full p-6'>
        <%= yield %>
      </div>
      <%= render 'shared/footer.html.haml' %>
    </div>
  </body>
</html>
